html, body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

button {
    background-color: transparent;
    padding: 12px;
    color: inherit;
    outline: none;
    border: 1px solid #ff3b1d;
}

button:hover {
    cursor: pointer;
}

.welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    color: #4c4c4e;
}

.welcome h1 {
    font-size: 4rem;
    margin-bottom: 0.4rem;
}

.welcome p {
    font-size: 2rem;
}

.welcome button {
    font-size: 1rem;
    /* border: 1px solid #ff3b1d; */
}

.welcome button:hover {
    color: #3e78b2;
}

.settings {
    background-color: #dddddd;
    color: #222222;
}

.game {
    background-color: #ffffff;
    color: #222222;
}

.hidden {
    display: none;
}

/* .dark {
    
} */

.dark button, button.dark {
    border: 1px solid #F75940;
}

.mode-button {
    position: fixed;
    top: 10%;
    left: 90%;
    cursor: pointer;
    color: #4c4c4e;
}

.mode-button:hover {
    color: #3e78b2;
}

.mode-button.dark {
    color: #3dc7be;
}

.mode-button.dark:hover {
    background-color: #364857;
}

.dark.welcome {
    background-color: #334252;
    color: #3dc7be;
}

.dark.welcome button:hover {
    background-color: #364857;
    color: #3dc7be;
}